<body
  class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns   menu-expanded"
  data-open="click"
  data-menu="horizontal-menu"
  data-col="2-columns"
>
  <app-header></app-header>

  <div
    class="app-content container center-layout mt-2"
    style="min-height:400px"
  >
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Users</a>
                </li>
              </ol>
            </div>
          </div>
          <h3 class="content-header-title mb-0">Users</h3>
        </div>
        <div class="content-header-right col-md-6 col-12">
          <div class="btn-group float-md-right">
            <button
              routerLink="/users/new"
              class="btn btn-info round  box-shadow-2 px-2"
              type="button"
            >
              <i class="ft-settings icon-left"></i> New User
            </button>
          </div>
        </div>
      </div>
      <div class="content-header row"></div>
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <app-footer></app-footer>
</body>
