<!-- fixed-top-->
<nav
  class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center"
>
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto">
          <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"
            ><i class="ft-menu font-large-1"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/dashboard">
            <h3 class="brand-text">College Enquiry System</h3>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a
            class="nav-link open-navbar-container"
            data-toggle="collapse"
            data-target="#navbar-mobile"
            ><i class="la la-ellipsis-v"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="navbar-container container center-layout">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
              <i class="ft-menu"></i
            ></a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link nav-link-expand" href="#"
              ><i class="ficon ft-maximize"></i
            ></a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-notification nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#">
              <span class="mr-1"
                >Hello,
                <span class="user-name text-bold-700">{{
                  user.displayName
                }}</span>
              </span>
            </a>
          </li>

          <li class="dropdown dropdown-notification nav-item">
            <a class="nav-link nav-link-label" (click)="logout()"
              ><i class="ficon ft-log-out"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div
  class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
  role="navigation"
  data-menu="menu-wrapper"
>
  <div
    class="navbar-container main-menu-content container center-layout"
    data-menu="menu-container"
  >
    <ul
      class="nav navbar-nav"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" routerLink="/dashboard"
          ><i class="la la-home"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" routerLink="/users/list"
          ><i class="la la-users"></i>
          <span>Users</span>
        </a>
      </li>

      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" routerLink="/users/import"
          ><i class="la la-exchange"></i>
          <span>Imports</span>
        </a>
      </li>
    </ul>
  </div>
</div>
