<body
  class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column  bg-cyan bg-lighten-2 menu-expanded blank-page blank-page"
  data-open="click"
  data-menu="horizontal-menu"
  data-col="1-column"
>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <div class="app-content container center-layout pt-4 pb-4">
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                  <div class="card-title text-center">
                    <div class="p-1">
                      <h3 class="brand-text">College Enquiry System</h3>
                      <p class="text-danger pb-0 mb-0">{{ message }}</p>
                    </div>
                  </div>
                  <h6
                    class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"
                  >
                    <span>Easily Using</span>
                  </h6>
                </div>
                <div class="card-content">
                  <div class="card-body pt-0 text-center">
                    <a
                      href="javascript:void(0)"
                      (click)="loginFacebook()"
                      class="btn btn-social mb-1 mr-1 btn-outline-facebook"
                    >
                      <span class="la la-facebook"></span>
                      <span class="px-1">facebook</span>
                    </a>
                    <a
                      href="javascript:void(0)"
                      (click)="loginGoogle()"
                      class="btn btn-social mb-1 mr-1 btn-outline-google"
                    >
                      <span class="la la-google-plus font-medium-4"></span>
                      <span class="px-1">google</span>
                    </a>
                  </div>
                  <p
                    class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2"
                  >
                    <span>OR Using Account Details</span>
                  </p>
                  <div class="card-body pt-0">
                    <form class="form-horizontal" action="index.html">
                      <fieldset class="form-group floating-label-form-group">
                        <label for="user-name">Email</label>
                        <input
                          name="email"
                          [(ngModel)]="email"
                          type="email"
                          class="form-control"
                          placeholder="Your Email"
                        />
                      </fieldset>
                      <fieldset
                        class="form-group floating-label-form-group mb-1"
                      >
                        <label for="user-password">Enter Password</label>
                        <input
                          name="password"
                          [(ngModel)]="password"
                          type="password"
                          class="form-control"
                          id="user-password"
                          placeholder="Enter Password"
                        />
                      </fieldset>
                      <div class="form-group row">
                        <div class="col-md-6 col-12 text-center text-sm-left">
                          <fieldset>
                            <input
                              type="checkbox"
                              id="remember-me"
                              class="chk-remember"
                            />
                            <label for="remember-me"> Remember Me</label>
                          </fieldset>
                        </div>
                        <div
                          class="col-md-6 col-12 float-sm-left text-center text-sm-right"
                        >
                          <a href="recover-password.html" class="card-link"
                            >Forgot Password?</a
                          >
                        </div>
                      </div>
                      <button
                        type="button"
                        (click)="loginEmail()"
                        class="btn btn-outline-info btn-block"
                      >
                        <i class="ft-unlock"></i> Login
                      </button>
                    </form>
                  </div>
                  <!-- <p
                    class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"
                  >
                    <span>New to Modern ?</span>
                  </p>
                  <div class="card-body">
                    <a
                      href="register-with-bg.html"
                      class="btn btn-outline-danger btn-block"
                      ><i class="ft-user"></i> Register</a
                    >
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
