#scoreLineToDay .ct-series-a .ct-line {
  stroke: url(#scoreLineToDay-gradient);
  stroke-width: 5px;
}

#scoreLineToWeek .ct-series-a .ct-line {
  stroke: url(#scoreLineToWeek-gradient);
  stroke-width: 5px;
}

#scoreLineToMonth .ct-series-a .ct-line {
  stroke: url(#scoreLineToMonth-gradient);
  stroke-width: 5px;
}

.ct-area-circle {
  fill: #28D094;
  stroke-width: 5;
  stroke: #FFFFFF;
}

.scoreLineShadow {
  -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.1));
}
