<body
  class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns   menu-expanded"
  data-open="click"
  data-menu="horizontal-menu"
  data-col="2-columns"
>
  <app-header></app-header>

  <div
    class="app-content container center-layout mt-2"
    style="min-height:400px"
  >
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <!-- eCommerce statistic -->
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <app-footer></app-footer>
</body>
