<p>import works!</p>

<button class="btn btn-success" (click)="import('Student')">
  Import Students Data
</button>
|
<button class="btn btn-success" (click)="import('Teacher')">
  Import Teacher Data
</button>
|

<button class="btn btn-success" (click)="import('Staff')">
  Import Staff Data
</button>
