<footer class="footer footer-transparent footer-light navbar-shadow">
  <p
    class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout"
  >
    <span class="float-md-left d-block d-md-inline-block"
      >Copyright &copy; 2019 - 2020, All rights reserved.
    </span>
    <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"
      >Hand-crafted & Made with <i class="ft-heart pink"></i
    ></span>
  </p>
</footer>
