<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-colored-controls">
          Create new user
        </h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
      </div>
      <div class="card-content collpase show">
        <div class="card-body">
          <form class="form form-horizontal">
            <div class="form-body">
              <h4 class="form-section">
                <i class="la la-user"></i> About User
              </h4>
              <p class="text-danger">{{ msg }}</p>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="userinput1"
                      >Fist Name</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        [(ngModel)]="name"
                        class="form-control border-primary"
                        placeholder="Name"
                        name="name"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="userinput2"
                      >User Id</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        [(ngModel)]="user_id"
                        class="form-control border-primary"
                        placeholder="User ID"
                        name="user_id"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="userinput2"
                      >Email</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        [(ngModel)]="email"
                        class="form-control border-primary"
                        placeholder="User Email"
                        name="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="userinput2"
                      >Password</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        [(ngModel)]="password"
                        class="form-control border-primary"
                        placeholder="Enter password"
                        name="password"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="userinput2"
                      >User Role</label
                    >
                    <div class="col-md-9">
                      <select
                        class="form-control"
                        name="role"
                        [(ngModel)]="role"
                      >
                        <option value="Student">Student</option>
                        <option value="Staff">Staff</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Admin">Admin</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button
                (click)="onClear()"
                type="button"
                class="btn btn-warning mr-1"
              >
                <i class="ft-x"></i> Cancel
              </button>
              <button (click)="onSave()" type="button" class="btn btn-primary">
                <i class="la la-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
